<!DOCTYPE html>
<html>
    <head>
        <title>Website page desing bubble effect</title>
        <link rel="stylesheet" href="../staticeffect/staticeffect.css">

    </head>
    <body>
        <div class="hero">
        <div class="navbar">
            <img src="../bubble-img/yash1.png" class="logo">
            <button> Sing Up</button>

        </div>

        <div class="content">
            <small>Welcome To My</small>
            <h1> Web<br> Creative world's</h1>
            <button type="button">Take a Tour</button>
        </div>

        <div class="sidebar">
            <img src="../bubble-img/menu.png" class="menu">
            <div class="social-links">
                <img src="../bubble-img/fb.png" alt="facebook">
                <img src="../bubble-img/ig.png" alt="facebook">
                <img src="../bubble-img/tw.png" alt="facebook">
            </div>
            <div class="useful-links">
                <img src="../bubble-img/share.png" alt="facebook">
                <img src="../bubble-img/info.png" alt="facebook">
            </div>
        </div>

        </div>

        
        <div class="bubble">
            <img src="../bubble-img/bubble.png" alt="facebook">
            <img src="../bubble-img/bubble.png" alt="facebook">
            <img src="../bubble-img/bubble.png" alt="facebook">
            <img src="../bubble-img/bubble.png" alt="facebook">
            <img src="../bubble-img/bubble.png" alt="facebook">
            <img src="../bubble-img/bubble.png" alt="facebook">
            <img src="../bubble-img/bubble.png" alt="facebook">
            <img src="../bubble-img/bubble.png" alt="facebook">
            <img src="../bubble-img/bubble.png" alt="facebook">



        </div>
       

    </body>
</html>